* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: 100%;
  background: url("/Pic1.jpg") no-repeat;
}
.container {
  background: white;
  width: 355px;
  height: 700px;
  border-radius: 15px;
  margin: 0 auto;
  border-bottom: 1px;
  margin-top: 50px;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: ;
}
h2 {
  background: lightblue;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
}

#fname,
#lname,
#job,
#date,
#Gender,
#Country,
#email {
  border-left: darkblue 5px solid;
  width: 240px;
  height: 40px;
  border-radius: 3px;
  margin: 20px;
  padding: 10px;
}
#date,
#Gender {
  border: none;
  margin: 10px;
  padding: 5px;
}
#fields {
  color: red;
}
.btn {
  padding: 10px;
  margin: 10px;
  color: white;
  background: lightblue;
  border-radius: 10px;
}
